@font-face {
  font-family: Josefin Sans;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
}

body {
  padding: 0;
}

.bg-pattern {
  background: url("bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero {
  background: url("hero-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  /* transform: translate(150px, 80px); */
  margin: 80px 150px 50px;
}

.text {
  padding: 0px 150px 0px;
}

.heading {
  font-size: 70px;
  line-height: 75px;
  letter-spacing: 15px;
  margin-bottom: 30px;
}

.pink {
  color: #bd6480;
  font-family: Josefin Sans;
}

.ls-1 {
  letter-spacing: 1px;
}

.email {
  margin: 40px 0px 0px 150px;
  width: 60%;
  height: 45px;
  padding: 0px 25px;
  border: 1px solid #bd6480;
  border-radius: 50px;
}

.email:focus {
  outline: none;
}

.pr {
  position: relative;
}

.email-submit-btn {
  position: absolute;
  top: 49%;
  left: 74%;
  height: 42px;
  width: 72px;
  border: 1px solid pink;
  border-radius: 50px;
  background: pink;
}

.email-submit-btn:focus {
  outline: none;
}

.arrow {
  position: absolute;
  top: 62%;
  left: 78.5%;
}

.d-none {
  display: none;
}

.error-icon {
  position: absolute;
  top: 60%;
  left: 70%;
  display: none;
}

.error-msg {
  margin: 10px 0 0 175px;
  display: none;
  color: #bd6480;
}

@media only screen and (max-width: 576px) {
  .heading {
    font-size: 55px;
    line-height: 60px;
    letter-spacing: 15px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 60px;
  }

  .logo {
    display: none;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }

  .text {
    padding: 0;
  }

  .email {
    margin: 40px 0px 0px 20px;
    width: 83%;
    height: 45px;
    padding: 0px 25px;
    border: 1px solid #bd6480;
    border-radius: 50px;
  }

  .arrow {
    position: absolute;
    top: 62%;
    left: 85.5%;
  }

  .bg-pattern {
    background: url(bg-pattern-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .hero {
    background: url(hero-desktop.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }

  .mt-50 {
    margin-bottom: 50px;
  }
}
